<div *ngIf="model" class="mb-4 bg-light p-4 rounded">
  <legend ref="header" class="text-secondary" [translate]="'Register.Review'"></legend>
  <ng-container *ngIf="model.review">
    <ng-container [ngSwitch]="editingReview">
      <div *ngSwitchCase="model.id">
        <ng-container [ngTemplateOutlet]="itemReviewEditTemplate" [ngTemplateOutletContext]="{ item: model.review}">
          <span><p>{{'Register.TotalIncomeBasedOnStudentsRequest' | translate}}:  <span><b>{{model.totalFamilyIncome}}</b></span></p></span>
        </ng-container>
      </div>
      <div *ngSwitchDefault>
        <ng-container [ngTemplateOutlet]="reviewTemplate" [ngTemplateOutletContext]="{ item: model.review }">
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="model.review == null">
    <ng-container [ngSwitch]="editingReview">
      <div *ngSwitchCase="model.id">
        <ng-container [ngTemplateOutlet]="itemReviewEditTemplate"
          [ngTemplateOutletContext]="{ item: { itemReviewed: model.id } }">
          <span><p>{{'Register.TotalIncomeBasedOnStudentsRequest' | translate}}:  <span><b>{{model.totalFamilyIncome}}</b></span></p></span>
        </ng-container>
      </div>
      <div *ngSwitchDefault>
        <div>
          <i><span [translate]="'Register.NoReview'"></span></i>
          <button (click)="editingReview = model.id" type="button"
            [disabled]="model.actionStatus.alternateName !== 'ActiveActionStatus' || !model.agent"
            class="ml-2 btn btn-primary btn-sm text-lowercase" [translate]="'Register.Add'"></button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<!--start:review template-->
<ng-template #reviewTemplate let-item="item">
  <div>
    <div class="text-secondary mt-1 mb-2" *ngIf="item.createdBy">
      <span [translate]="'Register.UserReviewAdded'" [translateParams]="item.createdBy">
      </span>
      <button *ngIf="model.actionStatus.alternateName === 'ActiveActionStatus'"
        (click)="editingReview = item.itemReviewed" type="button" class="ml-2 btn btn-primary btn-sm text-lowercase"
        [translate]="'Register.Edit'"></button>
    </div>
  </div>
  <div>
    <p class="p-3 mb-2 bg-gray-100" *ngIf="item.reviewBody" [innerHTML]="item.reviewBody"></p>
  </div>

  <ng-container [ngSwitch]="model.category.alternateName">
    <ng-container *ngSwitchCase="'normal'" >
      <div class="form-group row mb-1">
        <div class="col-8">
          <span class="text-secondary" [lang]="currentLang" [translate]="'Register.TotalIncomeBasedOnStudentsRequest'"></span>
        </div>
        <div class="col-4">
          <span class="text-dark float-right" *ngIf="model.totalFamilyIncome">{{model.totalFamilyIncome}}</span>
          <span class="text-dark float-right" *ngIf="!model.totalFamilyIncome">-</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-8">
          <span class="text-secondary" [lang]="currentLang" [translate]="'Register.CalculatedTotalFamilyIncome'"></span>
        </div>
        <div class="col-4">
          <span class="text-dark float-right" *ngIf="item.calculatedTotalFamilyIncome">{{item.calculatedTotalFamilyIncome}}</span>
          <span class="text-dark float-right" *ngIf="!item.calculatedTotalFamilyIncome">-</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-8">
          <span class="text-secondary" [lang]="currentLang" [translate]="'Register.CheckingLimit'"></span>
        </div>
        <div class="col-4">
          <span class="text-dark float-right" *ngIf="item.checkingLimit">{{item.checkingLimit}}</span>
          <span class="text-dark float-right" *ngIf="!item.checkingLimit">-</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-8">
          <span class="text-secondary" [lang]="currentLang" [translate]="'Register.NumberOfSiblingStudents'"></span>
        </div>
        <div class="col-4">
          <span class="text-dark float-right" *ngIf="item.noOfSiblingStudents">{{item.noOfSiblingStudents}}</span>
          <span class="text-dark float-right" *ngIf="!item.noOfSiblingStudents">-</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-8">
          <span class="text-secondary" [lang]="currentLang" [translate]="'Register.CodeTaxValue'"></span>
        </div>
        <div class="col-4">
          <span class="text-dark float-right" *ngIf="item.codeTaxValue">{{item.codeTaxValue}}</span>
          <span class="text-dark float-right" *ngIf="!item.codeTaxValue">-</span>
        </div>
      </div>
        <div class="form-group row mb-1">
    <div class="col-8">
      <span class="text-secondary" [lang]="currentLang" [translate]="'Register.Rating'"></span>
    </div>
    <div class="col-4">
      <span class="text-dark float-right" *ngIf="item.reviewRating">{{item.reviewRating}}</span>
      <span class="text-dark float-right" *ngIf="!item.reviewRating">-</span>
    </div>
  </div> 
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="col-4">
        <span class="text-dark float-right" *ngIf="item.reviewRating">{{item.reviewRating}}</span>
        <span class="text-dark float-right" *ngIf="!item.reviewRating">-</span>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
<!--end:review template-->

<ng-template #itemReviewEditTemplate let-item="item">
  <advanced-form-edit (customEvent)="onItemReviewEvent($event)" [formName]="formName"  [data]="item">
  </advanced-form-edit>
</ng-template>