<div *ngIf="model && isLoading === false">
    <div *ngIf="!updateAction">
        <advanced-form-edit #form [formName]="formConfig" [(data)]="model"></advanced-form-edit>
        <span *ngIf="isExtend">
            <div *ngIf="showMessage()" class="alert alert-danger" role="alert">
                {{ showMessage() }}
            </div>
        </span>
    </div>
    <div *ngIf="updateAction">
        <div class="row">
            <div class="col-12 mb-4" [innerHTML]="updateAction.actionResult">
            </div>
        </div>
    </div>
</div>