<div class="card">
  <div class="card-header" *ngIf="showHeader">
    <h4 class="mb-0 font-weight-normal" [translate]="'UniversisDiningModule.Messages.NewMessage'"></h4>
  </div>
  <div class="card-body pt-0 mb-0">
    <form #formMessage="ngForm" novalidate class="formio-form">
      <div ref="component" class="form-group has-feedback formio-component formio-component-textfield">
        <label class="col-form-label" [translate]="'UniversisDiningModule.Messages.Subject'"></label>
        <div>
          <input [(ngModel)]="model.subject" id="subject" spellcheck="true" autocomplete="off" class="form-control" type="text" name="message-subject" />
        </div>
      </div>
      <div class="form-group has-feedback formio-component formio-component-textarea">
        <label for="body" class="col-form-label" [translate]="'UniversisDiningModule.Messages.WriteMessage'"></label>
        <div>
          <!-- <div> -->
            <div #messageBody></div>
            <input type="text" class="d-none" [(ngModel)]="model.body" id="body" name="message-body">
          <!-- </div> -->
          <!-- <textarea [(ngModel)]="model.body" [required]="true" id="body" rows="5" spellcheck="true" class="form-control"
            type="text" name="message-body"></textarea> -->
        </div>
      </div>
      <div *ngIf="showAttach"
        class="form-group has-feedback formio-component formio-component-file formio-component-attachments formio-component-label-hidden">
        <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,application/pdf,image/png,image/gif'"
          (change)="onFileAdd($event)">
          <ngx-dropzone-label *ngIf="model.attachments.length === 0" style="z-index: 0" class="p-2">
            {{'Register.UploadFileHelp' | translate}}
          </ngx-dropzone-label>
          <ng-container *ngFor="let f of model.attachments">
            <ngx-dropzone-preview [removable]="true" (removed)="onFileRemove(f)">
              <ngx-dropzone-label>
                {{ f.name }} ({{ f.type }})
              </ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ng-container>
        </ngx-dropzone>
      </div>
      <div *ngIf="showButtons" class="form-group formio-component formio-component-button d-inline-block">
        <button [disabled]="formMessage.invalid" class="btn btn-primary btn-md d-inline-block"
          type="button" [translate]="'Register.ComposeNewMessage.Send'" (click)="submit.emit(model)">
        </button>
        <button class="btn btn-secondary btn-md d-inline-block ml-2" type="button" (click)="cancel.emit(model)"
          [translate]="'Register.ComposeNewMessage.Cancel'">
        </button>
      </div>
    </form>
  </div>
</div>
<!--end: new message-->
