<ng-container *ngIf="diningPreferenceEffectiveStatus && diningPreferenceEffectiveStatus.code !== 'NO_ACTION'">
    <div class="card">
        <div class="msgbox_main-container">
          <div class="msgbox_icon">
            <span class="fa-3x far {{icon}}" style="color:#678898;"></span>
          </div>
          <div class="msgbox_details">
            <span [attr.lang]="currentLanguage" *ngIf="title && title.length" class="msgbox_title" id="title">{{title | translate}}</span>
            <div *ngIf="message && message.length" class="font pt-3 msgbox_item" id="message">{{message | translate}}</div>
            <div class="pt-3 msgbox_item">
                <ng-container *ngIf="diningPreferenceEffectiveStatus.code === 'PREFERENCE_REQUIRED'">
                    <span>
                        <button type="button" class="btn s--btn btn-success" (click)="submitDiningPreference(true, 'create')">{{'Yes' | translate}}</button>
                    </span>
                    <span>
                        <button type="button" class="btn s--btn btn-success" (click)="submitDiningPreference(false, 'create')">{{'No' | translate}}</button>
                    </span>
                </ng-container>
                <ng-container *ngIf="(diningPreferenceEffectiveStatus.code === 'REQUEST_REQUIRED'
                    || diningPreferenceEffectiveStatus.code === 'REQUEST_OPTIONAL')
                    && diningRequestConfiguration && diningRequestConfiguration.url
                    && diningRequestConfiguration.validationResult
                    && diningRequestConfiguration.validationResult.success">
                    <button type="button" class="btn s--btn btn-success" [routerLink]="diningRequestConfiguration.url">{{'DiningPreference.NewRequest' | translate}}</button>
                    <button type="button" class="btn s--btn btn-secondary" (click)="submitDiningPreference(false, 'update')">{{'DiningPreference.NotInterested' | translate}}</button>
                </ng-container>
            </div>
            <div class="pt-3 msgbox_item text-secondary" *ngIf="extraMessage && extraMessage.length" [innerHTML]="extraMessage"></div>
          </div>
    </div>
      </div>
</ng-container>
